<div class="home" ng-controller='homeCtrl'>
    <div class="roomListContainer" ng-init="rooms = []">
        <h2>Rooms</h2>
        <label>Type</label>
        <select ng-model="searchType" ng-change="getRoomsByWildCard(searchType, searchName)">
            <option value=""></option>
            <option value="PUBLIC">Public</option>
            <option value="PRIVATE">Private</option>
        </select>
        <label>Name</label>
        <input type="text" ng-model="searchName" ng-change="getRoomsByWildCard(searchType, searchName)">
        <div ng-repeat="room in rooms track by $index">
            <div ng-click="showRoom(room)">{{room.title}}</div>
        </div>
    </div>
    <div class="infoContainer" ng-show="clickedRoom">
        <h3>{{clickedRoom.title}}</h3>
        <p>{{clickedRoom.description}}</p>
        <a class="btn" ui-sref="room({roomName: clickedRoom.title})">Enter</a>
    </div>
</div>