<div class="home" ng-controller='homeCtrl'>
    <h2>Rooms</h2>
    <div class="roomListContainer" ng-init="rooms = []">
        <label>Type</label>
        <select ng-model="searchType" ng-change="getRoomsByWildCard(searchType, searchName)">
            <option value=""></option>
            <option value="PUBLIC">Public</option>
            <option value="PRIVATE">Private</option>
        </select>
        <label>Name</label>
        <input type="text" ng-model="searchName" ng-change="getRoomsByWildCard(searchType, searchName)">
        <table>
            <tr ng-repeat="room in rooms track by $index"  ng-class-odd="'odd'">
                    <td ng-click="showRoom(room)">{{room.title}}</td>
            </tr>
        </table>
    </div>
    <div class="infoContainer" ng-show="clickedRoom">
        <h3>{{clickedRoom.title}}</h3>
        <p>{{clickedRoom.description}}</p>
        <a class="btn" ui-sref="room({roomName: clickedRoom.title})">Enter</a>
    </div>
</div>