<div class="register-container" ng-controller="registerCtrl">
    <label>EMAIL</label><input type="text" ng-model="user.email"></br>
    <label>USERNAME</label><input type="text" ng-model="user.username"></br>
    <label>FIRST NAME</label><input type="text" ng-model="user.firstName"></br>
    <label>LAST NAME</label><input type="text" ng-model="user.lastName"></br>
    <label>PASSWORD</label><input type="text" ng-model="user.password"></br>
    <label>CONFIRM PASSWORD</label><input type="text" ng-model="user.confirmPassword"></br>
    <a href="" class="btn" ng-click="register()">REGISTER</a>
</div>