body {
    background-color: #9F4332;
    background-size: cover;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}

/*---------------------------*/
/*          BUTTONS          */
/*---------------------------*/
.btn {
    background-color:#2ecc71;
    color: white;
    border-color: white;
    padding: 15px 80px;
    border-width: 4px;
    border-style: solid;
    margin: 10px;
    display: inline-block;
    border-radius: 25px;
    border-color: #24b662;
    white-space: nowrap
}

.btn:hover{
    background-color: #24b662;
}

/*---------------------------*/
/*          INPUTS           */
/*---------------------------*/

input[type="text"] {
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
input[type="text"]:focus,
input[type="text"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

input[type="password"] {
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
input[type="password"]:focus,
input[type="password"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

/*---------------------------*/
/*         NAVIGATION        */
/*---------------------------*/

nav {
    height: 5vh;
    width: 100%;
    background-color: #2ecc71;
    position: relative;
    line-height: 44px;
    top: 0;
    left: 0;
    right: 0;
}

nav .nav-actions{
    float: right;
}

nav a{
    margin: 0 7px
}

/*---------------------------*/
/*            MENU           */
/*---------------------------*/

.menu{
    background-image: url(menu.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 28px;
    width: 28px;
    margin: 10px;
}

.menu-panel{
    position: fixed;
    right: 0;
    top: 5vh;
    width: 170px;
    background-color: slategray;
}

.menu-panel ul{
    margin: 0;
    padding: 0;
    text-align: right;
}

.menu-panel a{
    display: block;
}


/*---------------------------*/
/*            MAIN           */
/*---------------------------*/


.wrapper {
    margin: auto;
    padding-top: 10px;
    background-color: transparent;
}

/*---------------------------*/
/*           LOGIN           */
/*---------------------------*/

#login-form {
    margin: 50px;
}

.login-container{
    text-align: center;
    background-color:#ffffff;
    border-radius: 25px;

    position: absolute;
    top: 30%;
    left: 30%;
    width: 40%;
    height: 40%;
    margin: auto;
    padding: 10px;
}

.login-container input{
    display: block;
    margin: auto;
    width: 60%;
}

.login-container .btn{
    max-width: 60px;
}

.login-container .sign-up{
    font-size: 16px;
}

#scribble-login-title {
    font-family: "Comic Sans MS";
}

/*---------------------------*/
/*          REGISTER         */
/*---------------------------*/

.register-container{
    margin: auto;
    width: 600px;
    height: 680px;
    padding-top: 70px;
    background-color:#ffffff;
    text-align: center;
    border-radius: 30px;
}

.register-container label{
    display: block;
    margin: auto;
}

.register-container input{
    display: block;
    margin: auto;
    width: 455px;
}

/*---------------------------*/
/*            HOME           */
/*---------------------------*/

.home {
    margin: 40px;
    color: white;
    height: 645px;

}

.roomListContainer {
    display: inline-block;
    background-color: darkorange;
    margin-right: 30px;
    float: left;
    width: 60%;
    padding: 30px;
    height: 100%;
}

.roomListContainer table{
    width: 100%;
    margin-top: 33px;
}

.roomListContainer table .odd {
    background-color: #F7810A;
}

.roomListContainer table td {
    height: 30px;
    padding-left: 18px;
}

.roomListContainer table tr:hover {
    background-color: black;
    color: white;
}

.infoContainer {
    display: inline-block;
    height: 100%;
    width: 30%;
    float: right;
    background-color: springgreen;
    padding: 30px;
}

.infoContainer p{
    height: 500px;
}

.infoContainer .btn{
    margin: auto;
}

/*---------------------------*/
/*            ROOM           */
/*---------------------------*/
.room {
}

.room-title {
    text-align: center;
}

.usersList {
    float: left;
    width: 19%;
    border: 1px solid #000;
    height: 90vh;
}

.drawboard {
    float: left;
    width: 49%;
    height: 90vh;
    margin-left: 20px;
    border: 1px solid #000;
}

.chat-container{
    float: right;
    width: 29%;
    margin: auto;
}

.chat {
    height: 90vh;
}

.chat .chat-box{
    height: 90%;
    overflow-y: scroll;
    border: 1px solid #000;
    padding: 10px;
}

.chat .chat-input {
    height: 10%;
}